# https://github.com/nosborn/github-action-markdown-cli
# check rule https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
name: Lint MarkDown File

on:
  push:
    branches:
      - main
      - release-*
      - github_pages
    paths:
      - '**.md'
  pull_request:
    branches:
      - main
      - release-*
      - github_pages
    paths:
      - '**.md'
  # checkout all markdown
  workflow_dispatch:
    inputs:
      ref:
        description: 'check all md for branch, sha, tag'
        required: true
        default: main

jobs:
  markdown-link-check:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Checkout
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: actions/checkout@v3

      # https://github.com/nosborn/github-action-markdown-cli
      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.0.1
        with:
          files: .
          config_file: '.github/markdownlint.yaml'
          ignore_path: '.github/markdownlintignore'
          # rules: examples/rules/custom.js
          # ignore_files: 'vendor/'

      - uses: bahmutov/npm-install@v1
      - name: Lint Markdown Spell
        run: |
          npm install markdown-spellcheck -g
          make lint-markdown-spell
