# https://github.com/marketplace/actions/swagger-editor-validator
name: Lint Openapi Yaml

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - 'api/v1/health/openapi.yaml'
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - 'api/v1/health/openapi.yaml'
  workflow_dispatch:
    inputs:
      ref:
        description: 'check for branch, sha, tag'
        required: true
        default: main
      path:
        description: 'openapi yaml path'
        required: true


jobs:
  link-check:
    name: Openapi Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - openapifilepath: 'api/v1/health/openapi.yaml'

    steps:
      - name: Checkout
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Checkout
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: actions/checkout@v3

      # send yaml to online https://editor.swagger.io
      # also support to run container of editor locally
      - name: Validate OpenAPI definition By PR
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: char0n/swagger-editor-validate@v1
        with:
          definition-file: ${{ matrix.openapifilepath }}

      - name: Validate OpenAPI definition By Command
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: char0n/swagger-editor-validate@v1
        with:
          definition-file: ${{ github.event.inputs.path }}
